<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title> {% block title%}{% endblock title %} | IPL Team 11</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Select your IPL Team Playing 11 <br> Home
  <br>
   <img src="/static/Cup.JPG" width="80" height="60" class="d-inline-block align-top" alt="" loading="lazy">
   </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <div>
        <div class="btn-toolbar">

        <body>
        <li>
        
        <h4 style="color:Yellow">Select Teams </h4>
        </li>
        
        <body>
       </div>
          <form action = "/result">
          <select name="Teams">
            <option disabled = "True" selected>----------select team----------</option>
            <option>Chennai Super Kings</option>
            <option>Delhi Capitals</option>
            <option>Kings XI Punjab</option>
            <option>Kolkata Knight Riders</option>
            <option>Mumbai Indians</option>
            <option>Rajasthan Royals</option>
            <option>Royal Challengers Bangalore</option>
            <option>Sunrisers Hyderabad</option>
          </select>
            <input type= "submit" value="click">
        </div>
        </div>
        </div>
        
        

      </li>
        <class="nav-item">
        <a class="nav-link" href="/about">About This Page</a>
      </li>
    </ul>
  </div>
</nav>
{% block body %}{% endblock body %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>